/* Complementary colour palette
   colour mode: RBG
   base colour: fbeeeb
   luminosity:  98
*/

/* Background colours. */
$background-colour-body: #fbeeeb;
$background-colour-header: #fbeeeb;
$background-colour-main: #fbeeeb;
$background-colour-code: #80ad9d;
$background-colour-footer: #fbeeeb;
$background-colour-container-title: #ad9792;
$background-colour-psi-green: #6f6;
$background-colour-psi-orange: #ffc266;
$background-colour-psi-red: #f66;

/* Text colours. */
$font-colour: #000;
$font-colour-accent: #80ad9d;
$font-colour-title: #000;
$font-colour-container-title: #ebfaf4;

/* Line and border colours. */
$border-colour-container: #ad9792;
$border-colour-footer: #ad9792;
$border-colour-code: #ad9792;

/* Icon colours. */
$fa-chevron-circle-right-background: #80ad9d;
