// layout.scss

@use "sass:math";

.auto {
    margin: auto;
    text-align: center;
}

.alert {
    background-color: $base-color;
    border: 1px solid $border-dark;
    height: math.div($alert-box-size, 2);
    width: $alert-box-size;
}
