/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $container-text-background;
    background-color: $footer-background-colour;
    margin: 1em;
}

.footer div {
    padding: 1em;
}

.footer .social a {
    font-size: 2em;
    opacity: 0.7;
    text-decoration: none;
}

.footer .social a:hover {
    opacity: 1;
}
