/* Typografy */

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

ol,
ul {
    padding-left: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
}
