/* Variables */

$font-colour: #000;
$font-alternative-colour: #fff;
$accent-colour: #ee6c4d;
$background-colour: #fbeeeb; //#3d5a80;
$background-alternative-colour: #e0fbfc;
$border-colour: #fff;
$container-text-background: #606060;
$fa-chevron-circle-right-background: #33e2ff;
$footer-background-colour: #fbeeeb;
$title-colour: #111;
$body-colour: #444;
