/* Complementary colour palette, dark mode
   colour mode: RBG
   base colour: 333130
   luminosity:  20
*/

/* Background colours. */
$background-colour-body: #333130;
$background-colour-header: #333130;
$background-colour-main: #333130;
$background-colour-code: #5eb074;
$background-colour-footer: #333130;
$background-colour-container-title: #806f6b;
$background-colour-psi-green: #008000;
$background-colour-psi-orange: #cc7a00;
$background-colour-psi-red: #c00;

/* Text colours. */
$font-colour: #fff;
$font-colour-accent: #5eb074;
$font-colour-title: #fff;
$font-colour-container-title: #303332;

/* Line and border colours. */
$border-colour-container: #806f6b;
$border-colour-footer: #806f6b;
$border-colour-code: #806f6b;

/* Icon colours. */
$fa-chevron-circle-right-background: #5eb074;
