/* Complementary colour palette, dark mode
   colour mode: RBG
   base colour: 1A1818
   luminosity:  10
*/

/* Background colours. */
$background-colour-body: #1a1818;
$background-colour-header: #1a1818;
$background-colour-main: #1a1818;
$background-colour-code: #296637;
$background-colour-footer: #1a1818;
$background-colour-container-title: #9e8985;

/* Text colours. */
$font-colour: #d9d9d9;
$font-colour-accent: #296637;
$font-colour-title: #d9d9d9;
$font-colour-container-title: #181a19;

/* Line and border colours. */
$border-colour-container: #9e8985;
$border-colour-footer: #9e8985;
$border-colour-code: #9e8985;

/* Icon colours. */
$fa-chevron-circle-right-background: #296637;
