{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology-container" role="main">

        {{ content }}

        {% for page in pages("technology") %}
            <div class="technology">
                <div class="technology-title">
                    <h2>{{ page.title }}</h2>
                </div>
                <div class="technology-description">
                    <p>{{ page.description }}</p>
                </div>
                <div class="technology-link">
                    <a href="{{ page.url }}" title="Gå till teknologi" role="button">
                        <i class="fas fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
                        <span class="sr-only">"Title"</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
